<h1> Charles You </h1>

<p> Hi, my name is Charles. I'm from Vancouver, Canada, but I currently live in Korea. I'm a junior studying computer science. A fun fact about me is that my brother also went to UC Berkeley! I'm excited to learn about web development for the first time in my life! </p>